<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarTogglerDemo02">
      <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-success rounded-5 shadow-sm " id="pillNav2" role="tablist"
        style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
        <li class="nav-item" role="presentation">
          <button class="nav-link active rounded-5 fs-5" id="characters-tab2" data-bs-toggle="tab" type="button" role="tab"
            aria-selected="true" (click)="goToCharacters()">Characters</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link rounded-5 fs-5" id="episodes-tab2" data-bs-toggle="tab" type="button" role="tab"
            aria-selected="false" (click)="goToEpisodes()">Episodes</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link rounded-5 fs-5" id="locations-tab2" data-bs-toggle="tab" type="button" role="tab"
            aria-selected="false" (click)="goToLocations()">Locations</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
